<!DOCTYPE html>
<html>
  <head>
    <title>
      About | Ruby on Rails Tutorial Sample App
    </title>
  </head>
  <body>
    <h1>StaticPages</h1>
<p>
  Get here to learn Ruby On Rails
  </p>
  </body>
</html>

 
