<%provide(:title, "Help")%>

<h1>StaticPages</h1>
<p>
  Get help on the tutorial at the <a href="https://www.railstutorial.org/#help">Rails Tutorial help section</a>
      </p>
      <p>
      To get help on the sample app, see the 
      <a href="https://www.railstutorial.org/book">Ruby On Rails book</a>
      
      </p>

